@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,300,400,600,700');

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900');


$workSans:'Work Sans', sans-serif;
$playfair:'Playfair Display', sans-serif;
$colorTitles:#171717;
$colorDescription:darken(#fff,45%);

